# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/HELP.md

# Frontend
Frontend/node_modules/
Frontend/.env

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
